{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-lg-8">
            <h1>Ongoing tournaments</h1>
        </div>

        <div class="col-lg-4 text-right">
            <a href="{{ path('tournament.create') }}" class="btn btn-primary">Create tournament</a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.uuid }}</td>
                    <td>{{ tournament.startDate|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('tournament.view', {'uuid': tournament.uuid}) }}" class="btn btn-default">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
