{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Create tournament</h1>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.startDate) }}
            {{ form_row(form.participants) }}

            <a href="#" class="btn btn-default" id="add-participants">Add participants</a>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            var participantsCount = {{ form.participants|length }};

            jQuery('#add-participants').click(function(e) {
                e.preventDefault();

                var participantList = jQuery('#create_tournament_participants');
                var prototype = participantList.attr('data-prototype');

                addParticipant(prototype, participantList);
                addParticipant(prototype, participantList);
            });

            function addParticipant(prototype, participantList) {
                var newWidget = prototype.replace(/__human_name__/g, participantsCount + 1).replace(/__name__/g, participantsCount);
                jQuery(newWidget).appendTo(participantList);

                participantsCount++;
            }
        })
    </script>
{% endblock %}
