{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Tournament on {{ tournament.startDate|date('Y-m-d') }}</h1>

        <h3>Participants</h3>

        <ul>
            {% for participant in tournament.participants %}
                <li>{{ participant.name }}</li>
            {% endfor %}
        </ul>

        <h3>Games</h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>White player</th>
                    <th>Black player</th>
                </tr>
            </thead>
            <tbody>
            {% for game in tournament.games %}
                <tr>
                    <td>{{ game.whitePlayer.name }}</td>
                    <td>{{ game.blackPlayer.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
